.portfolio-image{
  height: 250px;
  width: 250px;
}
.images-container{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.project-box{
  display: flex;
  flex-direction: column;
}
.link{
    /* use inline-block because it respects padding */
    display: inline-block;
    /* padding creates clickable area around text (top/bottom, left/right) */
    padding: 1em 3em;
    /* round corners */
    border-radius: 5px;
    /* remove underline */
    text-decoration: none;
    /* set colors */
    color:#ffd700;
    background-color: #fff;
}