.portfolio-image{
  height: 250px;
  width: 250px;
}
.images-container{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.project-box{
  display: flex;
  flex-direction: column;
}
.flat-button{
  color:#ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing:4px;
  text-decoration: none;
  font-family: sans-serif;
  padding: 10px 10px;
  border: 1px solid #ffd700;
  margin-top:25px ;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover{
    background: #ffd700;
    color:#333;
    cursor: pointer;
  }
}