.logo-container{
  z-index: 0;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin-right: auto;
}

.solid-logo{
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  margin: auto;
  width: 100%;
}